body {
    background: cover;
}

.heading {
    font-size: 35px;
    color: crimson;
    width: 100%;
    margin: 0px;
    font-family: fantasy;
}

.note {
    font-size: 18px;
    color: rgb(40, 17, 139);
    font-family:cursive;
}

.div_speed { 
    float:left;
}

.div_speed_img {
    border-radius: 100px;
    width: 200px;
}


#speed {
    margin: 15px;
    font-size: 21px;
}

.div_volume { 
    float:right;
}

.div_volume_img {
    border-radius: 100px;
    width: 200px;
}


#volume {
    margin: 15px;
    font-size: 21px;
}

.play_button {
    width : 130px;
    font-size : 25px;
    font-family : Georgia, 'Times New Roman', Times, serif;
    color:darkblue !important;
}

canvas {
    border-width : 4px;
    border-style: solid;
    border-radius: 8px;
    border-color:azure;
    margin-top:50px;
}